<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
  </head>
  <body>
  
	  <div class="container">
	  
		<div class="row navbar-link">
			<h3><%= title %></h3>
		</div>
		
		<div class="row">
		
			<div id="item" style="display:none;">
				<% items.forEach(function(item){ %>
					<%=	item.newspaperID %>	
					<%=	item.languageID %>
					<%=	item.scrape_tabs_title %>	
					<%=	item.scrape_tabs_href %>
					<%=	item.scrape_thumb %>
					<%=	item.scrape_href %>	
					<%=	item.scrape_title %>
					<%=	item.scrape_largeimage %>
					<%=	item.scrape_detail_article_text %>
					<%=	item.scrape_systemTime %>
					<%=	item.scrape_newstime %>
					<%=	item.scrape_status %>
				<%})%>
			</div>
			
			<ul>				
				<% items.forEach(function(item){ %>
					<li class="nav-tabs"><a href="news_tabs?keyword=<%= item.keyword %>&href=<%= item.scrape_tabs_href %>"><%= item.scrape_tabs_title %></a></li>
				<%})%>
			</ul>
		</div>
		
	  </div>
	
	  <script src="/javascripts/jquery-1.9.1.js"></script>
	<script src="/javascripts/main.js"></script>
  </body>
</html>